.DS_Store
/.vscode/

_build/
_install/
_output/

/get-pip.py

/*INFO*
/*WARNING*
/*ERROR*
/*FATAL*

# ros

/wrappers/ros/build
/wrappers/ros/devel
/wrappers/ros/install
/wrappers/ros/.catkin_workspace
/wrappers/ros/src/CMakeLists.txt

# tools

*.pyc
/mynteye/
/mynteye.bag