.DS_Store

.vs/
.vscode/

_build/
_install/
_output/

/docs/_doxygen/

/get-pip.py

/*INFO*
/*WARNING*
/*ERROR*
/*FATAL*

/plugins/

/3rdparty/ceres/
/3rdparty/opencv/
/pkginfo.sh
/*.nsi
/*.exe

/node_modules/
/package-lock.json

# ros

/wrappers/ros/build
/wrappers/ros/devel
/wrappers/ros/install
/wrappers/ros/.catkin_workspace
/wrappers/ros/src/cv_bridge
/wrappers/ros/src/CMakeLists.txt

# tools

*.pyc
/mynteye/
/mynteye.bag
/dataset*/

# wrappers

/wrappers/python/third_party/numpy-opencv-converter/
/wrappers/python/third_party/pyboostcvconverter/
